.container {
  width: 80%;
  height: 600px;
  text-align: left;
  overflow: scroll;
}

.result-container {
  width: 65%;
  text-align: left;
  margin: auto;
  padding: 0px 0px 100px 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  /* height: auto; */
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px 0px 0px 0px;
  overflow: scroll;
}

.results_dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px 0px 0px 0px;
}

.topbuttonrow {
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 35px;
  width: 100%;
  text-align: left;
  margin: 50px 0px 0px 0px;
}

.topleft {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 50px 75px 0px 110px;

  margin: 0px 230px 0px 0px;
}

.storeprefbutton {
  margin: 0px 0px 0px 0px;
  width: 280px;
  height: 35px;
  text-align: center;
  line-height: 33px;
  padding: 0;
  border: 2px solid black;
  background-color: #a8d0e6;
  color: black !important;
  border-radius: 5px;
}

.storeprefbutton:hover,
.storeprefbutton:active,
.storeprefbutton:focus {
  margin: 0;
  width: 280px;
  height: 35px;
  text-align: center;
  line-height: 33px;
  border: 2px solid black;
  background-color: #2fb1f7;
  color: black !important;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 8px 0 rgba(0, 0, 0, 0.19);
}

.bottombuttonrow {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 20px 0px 0px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.clearbutton {
  margin: 0px 700px 0px 0px;
  width: 80px;
  height: 100%;
  text-align: center;
  line-height: 30px;
  border: 2px solid black;
  padding: 4px 5px 5px 3px;
  background-color: #a8d0e6;
  color: black !important;
}

.clearbutton:hover {
  margin: 0px 700px 0px px;
  width: 80px;
  text-align: center;
  line-height: 30px;
  border: 2px solid black;
  padding: 4px 5px 5px 3px;
  height: 100%;
  background-color: #2fb1f7;
  color: black !important;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 8px 0 rgba(0, 0, 0, 0.19);
}

.searchbutton {
  margin: 0;
  width: 100px;
  text-align: center;
  line-height: 30px;
  border: 2px solid black;
  padding: 4px 5px 5px 3px;
  background-color: #a8d0e6;
  color: black !important;
}

.searchbutton:hover {
  margin: 0;
  width: 100px;
  text-align: center;
  line-height: 30px;
  border: 2px solid black;
  padding: 4px 5px 5px 3px;
  background-color: #2fb1f7;
  color: black !important;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 8px 0 rgba(0, 0, 0, 0.19);
}

.button-general {
  border: 2px solid black;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 3px;
  height: 100%;
  margin: 0 20px 0 0;
  background-color: #a8d0e6;
  color: black !important;
}

.button-general:hover,
.button-general:active,
.button-general:focus {
  padding-top: 3px;
  height: 100%;
  margin: 0 20px 0 0;
  background-color: #2fb1f7;
  color: black !important;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 8px 0 rgba(0, 0, 0, 0.19);
}

.button-dropdown {
  border: 2px solid black;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 3px;
  height: 100%;
  width: 280px;
  margin: 0 20px 0 0;
  background-color: #a8d0e6;
  color: black !important;
  white-space: nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.button-dropdown:hover,
.button-dropdown:active,
.button-dropdownl:focus {
  padding-top: 2px;
  height: 100%;
  margin: 0 20px 0 0;
  background-color: #2fb1f7;
  color: black !important;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 8px 0 rgba(0, 0, 0, 0.19);
}

.drop-down-menu {
  background-color: #a8d0e6;
  height: 300px;
  overflow-y: scroll;
}

.drop-down-item {
  color: black !important;
  border-radius: 2px solid black;
}

.drop-down {
  width: 250px;
}

.left {
  text-align: left;
}
