.itemcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;;
    width: 100%;
    height: 35px;
    margin: 10px 0 0 0;
}

.removebutton {
    margin: 0 15px 0 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.itemname {
    margin: 0 15px 0 15px;
    width: auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid black;
}