.itemcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 3px solid black;
  }
  .itemcontainer:hover {
    background: whitesmoke;
    border-radius: 7px;
  }
  
  .removebutton {
    margin: 0 15px 0 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: black;
  }
  
  .removebutton:hover {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: rgb(221, 107, 135);
  }
  
  .itemname {
    margin: 0 15px 0 15px;
    width: auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  .biggeritemcontainer {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
    overflow-x: hidden; 
    overflow-y: hidden; 
    height: 170px; 
    border-bottom: 3px solid black;
  }

  .biggeritemname {
    margin: 10px 15px 10px; 

    height: 170px;
    text-align: left;
  }